<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Present
I    am
you  are
he   is
we   are
you  are
they are
Perfect
I    have been
you  have been
he   has been
we   have been
you  have been
they have been
Past
I    was
you  were
he   was
we   were
you  were
they were
Pluperfect
I    had been
you  had been
he   had been
we   had been
you  had been
they had been
Future
I    will be
you  will be
he   will be
we   will be
you  will be
they will be
Future perfect
I    will have been
you  will have been
he   will have been
we   will have been
you  will have been
they will have been</string>
	<string>Present
I    am
you  are
he   is
we   are
you  are
they are
Perfect
I    have been
you  have been
he   has been
we   have been
you  have been
they have been
Past
I    was
you  were
he   was
we   were
you  were
they were
Pluperfect
I    had been
you  had been
he   had been
we   had been
you  had been
they had been
Future
I    will be
you  will be
he   will be
we   will be
you  will be
they will be
Future perfect
I    will have been
you  will have been
he   will have been
we   will have been
you  will have been
they will have been</string>
</array>
</plist>
